.quem_sou_eu{
    background-color: #000;
    padding: 60px 0;

    @include desktop{
        padding: 0;
    }
    .conteudo{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        img{
            width: 100%;

            @include desktop{
                width: 46%;
            }
            
        }
        .texto{
            width: 100%;
            color: #fff;

            @include desktop{
                width: 50%;
            }
            
            

            .titulo{
                font-size: 36px;
                font-family: 'Montserrat Medium';
                line-height: 57px;
                font-style: italic;
                margin-bottom: 69px;
            }

            .descricao{
                p{
                    font-size: 18px;
                    line-height: 26px;
                    font-family: 'Montserrat regular';
                    margin-bottom: 39px;
                }
            }
            .btn-principal{
                width: max-content;
                display: block;
                margin-top: 69px;
            }
        }
    }
}

.eventos{
    padding: 50px 0;

    .conteudo{
        .titulo{
            width: max-content;
            display: block;
            margin: 0 auto 50px auto;
            font-size: 36px;
            font-family: 'Montserrat Medium';
            line-height: 57px;
            font-style: italic;
            color: #000;
            &::after{
                background-color: #000;
            }
        }
        .lista{
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;

            .item{
                display: inline-flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                margin-bottom: 90px;

                &:last-child{
                    margin-bottom: 0px;
                }

                img{
                    order: 0;
                    width: 100%;
                    @include desktop{
                        width: 47%;
                        order: 1;
                    }
                }
                .texto{
                    order: 1;
                    width: 100%;
                    @include desktop{
                        width: 50%;
                        order: 0;
                    }
                    .titulo{
                        font-size: 18px;
                        margin: 0 0 50px 0;
                        line-height: 35px;
                        max-width: 100%;

                        @include desktop{
                            font-size: 24px;
                            line-height: 43px;
                        }
                    }
                    .descricao{
                        p{
                            font-size: 18px;
                            line-height: 26px;
                            margin-bottom: 30px;
                            &:last-child{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                &:nth-child(2n+2){
                    img{
                        @include desktop{
                            order: 0;
                        }
                    }
                    .texto{
                        @include desktop{
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}

.nossos-cursos{
    padding: 50px 0;
    background-color: #000;

    .conteudo{
        color: #fff;
        .titulo{
            width: max-content;
            display: block;
            margin: 0 auto 50px auto;
            font-size: 36px;
            font-family: 'Montserrat Medium';
            line-height: 57px;
            font-style: italic;
            &:after{
                max-width: 100%;
            }

        }
        .lista{
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;

            .item{
                display: inline-flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                margin-bottom: 50px;
                padding-bottom: 50px;
                position: relative;

                &:after{
                    width: 45%;
                    max-width: 655px;
                    height: 4px;
                    position: absolute;
                    content: ' ';
                    background-color: #fff;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }

                &:last-child{
                    margin-bottom: 0px;
                    padding-bottom: 0px;

                    &::after{
                        display: none;
                    }
                }

                img{
                    order: 0;
                    width: 100%;
                    border-radius: 15px;
                    
                    @include desktop{
                        width: 32%;
                        order: 1;
                    }
                }
                .texto{
                    order: 1;
                    width: 100%;

                    @include desktop{
                        width: 60%;
                        order: 0;
                    }
                    .titulo{
                        font-size: 18px;
                        margin: 0 0 50px 0;
                        line-height: 35px;
                        max-width: 100%;

                        @include desktop{
                            font-size: 24px;
                            line-height: 43px;
                        }
                        &::after{
                            display: none;
                        }
                    }
                    .descricao{
                        p{
                            font-size: 18px;
                            line-height: 26px;
                            margin-bottom: 30px;
                            &:last-child{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                &:nth-child(2n+2){
                    img{
                        @include desktop{
                            order: 0;
                        }
                    }
                    .texto{
                        @include desktop{
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}

.videos{
    padding: 50px 0;
    background-color: #f5f5f5;

    .titulo{
        width: max-content;
        display: block;
        margin: 0 auto 50px auto;
        font-size: 36px;
        font-family: 'Montserrat Medium';
        line-height: 57px;
        font-style: italic;
        color: #000;
        &:after{
            max-width: 100%;
            background-color: #000;
        }
    }
    .texto{
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
        padding: 0px 25px;
        @include desktop{
            justify-content: flex-start;
        }

        .subtitulo{
            font-size: 22px;
            font-family: 'Montserrat Medium';
            font-style: italic;
            line-height: 35px;
        }
        .btn-principal{
            border-color: #000;
            color: #000;
            padding: 10px 25px;
            margin-left: 34px;
            margin-right: 34px;
        }
    }
    .lista{
        width: 100%;
        display: block;

        .slick-track{
            align-items: baseline;
        }

        .item{
            width: 100%;
            display: block;
            margin: 0px 25px;
            img{
                width: 100%;
            }
            .titulo-video{
                font-size: 16px;
                font-family: 'Montserrat Medium';
                margin: 20px 0;
            }
        }

        .slick-dots{
            li{
                width: 15px;
                height: 15px;

                button{
                    width: 15px;
                    height: 15px;
                    padding: 0px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    &::before{
                        display: none;
                    }
                }
                &.slick-active{
                    button{
                        border: 5px solid #000;
                    }
                }
            }
        }
    }
}

.fale_comigo{
    background-color: #000;
    padding: 50px 25px;
    color: #fff;
    .conteudo{
        display: inline-flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .texto{
            width: 100%;
            @include desktop{
                width: 68%;
            }
            .titulo{
                font-size: 36px;
                font-family: 'Montserrat Medium';
                line-height: 57px;
                font-style: italic;
                margin-bottom: 55px;
            }
            .itens{
                display: inline-flex;
                align-items: flex-start;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                text-align: center;
                @include tablet{
                    text-align: left;
                }
                .item{
                    width: 100%;
                    margin-bottom: 15px;
                    @include tablet{
                        width: auto;
                        margin-bottom: 0;
                    }
                    h3{
                        font-size: 24px;
                        font-family: 'Montserrat Bold';
                        text-decoration: underline;
                    }
                    .detalhes{
                        display: inline-flex;
                        align-items: center;
                        margin-top: 10px;
                        
                        a{
                            color: #fff;
                        }
                         i{
                            padding-right: 10px;
                         }
                    }
                }
            }
        }
        .img_contato{
            width: auto;
            max-width: 100%;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            @include desktop{
                max-width: 32%;
                margin: 0;
                margin-top: 0;
            }
        }
    }
    
}