footer{
	padding: 20px 0;
    .conteudo{
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        justify-content: center;
        @include tablet{
            justify-content: space-between;
            text-align: initial;
        }
    }
}